html {
    background-color: #B9C0D5;
}

{
    background: url(bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-family: 'Open Sans Condensed', Arial, serif;
    font-weight: 700;
    color: #8B4F80;
}

h4 {
    font-family: 'Open Sans Condensed', Arial, serif;
    font-weight: 350;
    color: #625772;
    font-size: 1em;
}

.center {
    text-align: center;
    margin: auto;
    width: 60%;
}

.title {
    margin-top: 32%;
}

.links {
    font-size: 2em;
}

.email {
    font-size: 0.5em;
}

a {
    padding-left: 3px;
    padding-right: 3px;
    color: #E97A7A;
    text-decoration: none;
}
