html { 
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 { 
  font-family: 'Open Sans Condensed', Arial, serif;
  font-weight: 400; 
  color: white;
}

h4 {
  font-family: 'Open Sans Condensed', Arial, serif;
  font-weight: 350; 
  color: white;	
}

.center {
	text-align: center;
    margin: auto;
    width: 60%;
    padding: 30px;
}