@import "variables";
@import "mixins";
@import "reset";
@import "common";
@import "header";
@import "footer";
@import "home";
@import "content";
@import "sidebar";
@import "media";

.project-img {
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.project-img-holder {
    width: 600px;
    margin: auto;
}

// Pricing table

.prices {
  background-color: black;
}

.price-item {
  padding: 17px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.price-item-title {
  color: #e6b92e;
  font-size: 130%;
}

.price-title {
  text-align: center;
  margin-bottom: 20px;
  color: #e6b92e;
}

.price-subhead {
  font-size: 170%;
  background-color: #e6b92e;
  padding: 10px;
}
