@import "variables";
@import "mixins";
@import "reset";
@import "common";
@import "header";
@import "footer";
@import "home";
@import "content";
@import "sidebar";
@import "media";

.project-img {
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.project-img-holder {
    width: 600px;
    margin: auto;
}
